# install top block first
# torch
# accelerate
# bitsandbytes
# safetensors
# flash-attn
# pip install torch --index-url https://download.pytorch.org/whl/cu121; pip install accelerate safetensors bitsandbytes flash-attn --no-build-isolation
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121; pip install bitsandbytes accelerate safetensors transformers huggingface-hub datasets sentence-transformers faiss-cpu langchain google-genai openai-harmony flask flask-cors pandas python-dotenv kaggle ipykernel ipywidgets kernels
#(replace with your actual downloaded filename) pip install flash_attn-2.6.3+cu121torch2.4cxx11abiFALSE-cp311-cp311-win_amd64.whl

transformers
huggingface-hub
datasets
sentence-transformers


langchain
google-genai
openai-harmony
langchain-openai

faiss-cpu

flask
flask-cors
python-dotenv

pandas
kaggle

ipykernel
ipywidgets
kernels



# i also had to instal  NVIDIA CUDA Compiler driver which is included as part of the CUDA Toolkit
# nvcc --version

# torch 
# pip3 install torch torchvision torchaudio